
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> REGISTRATION FORM </title>
</head>
<body>
      <div class="form">
      <form action="/result" method="POST">
        <center> <h1> Registration </h1></center>
        <center><p> Fill up the form with correct values </p></center>
         
         <Font Size="3">
         <center>
         <table>
         <tr>
         <td><label for="firstname"><b>First name<b></label></td>
         <td><input type="text" id="firstname" name="firstname" placeholder="firstname" required></td>
         </tr>
            
         <tr>
         <td><label for="lastname"><b>Last name<b></label></td>
         <td><input type="text" id="lastname" name="lastname" placeholder="lastname" required></td>
         </tr>

         <tr>         
         <td><label for="email"><b>Email<b></label></td>
         <td><input type="email" id="email" name="email" placeholder="emailid" required></td>
         </tr>

         <tr>
         <td><label for="password"><b>Password<b></label></td>
         <td><input type="password" id="password" name="password" placeholder="password" required></td>
         </tr>
         

         <tr>
         <td><label for="phone number"><b>Phone number<b></label></td>
         <td><input type="text" id="phonenunber" name="phonenumber" placeholder="phone number" required></td>
         </tr>
         
         
         
         <tr><td>
         <td>
           <input type="Submit" value="Submit" name="submit"></center></td>
         </tr>
         </table> </center>
        
</div>
</form>
</body>
</html>